.control-container 
        {
            display: flex;
            flex-direction: row;
        }
        #chartLegend
        {
            border: solid 1px black;
            height: 100%;
        }